{% extends 'base.html' %}
{% block title %}
MainPage
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb default-margin-bot">
    <li class="breadcrumb-item active" aria-current="page">Главная</li>
    <li class="breadcrumb-item"><a href="{{ url_for('post_app.index') }}">Весь чай</a></li>
  </ol>
</nav>
 <div class="container text-center default-margin-bot">
  <h1>{{ header }}</h1>
  <span class="lead default-margin-bot">Обзор представителей Китайского чая</span>
  <a class="btn btn-primary btn-lg" href="{{ url_for('post_app.index') }}" role="button">Открыть список</a>
</div>
{% endblock %}
