{% extends 'base.html' %}
{% block title %}
{{ tea.name }}
{% endblock %}
{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb default-margin-bot">
      <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Главная</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('post_app.index') }}">Весь чай</a></li>
      <li class="breadcrumb-item active" aria-current="page">Да Хун Пао</li>
    </ol>
  </nav>
  <div class="container default-margin-bot">
    <div class="container text-center">
      <h1 class="no-margin">{{ tea.name }}</h1>
      <div class="subtitle">
        <span class="text-muted">{{ tea.grade }}</span>
        <span class="text-muted"> / </span>
        <span class="text-muted">{{ tea.region }}</span>
      </div>
    </div>
    <div class="row">
         <div class="col">
             <img src="{{ url_for('static', filename='img/') + tea.img }}" class="post-img"></img>
           <p class="lead post-text">
               {{ tea.text }}
           </p>
         </div>
    </div>
    {% for comment in comments: %}
    <div class="card-body">
      <h5 class="card-title">{{ comment.user }}</h5>
      <p class="card-text">{{ comment.text }}</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}
