{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block body %}
<body>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb default-margin-bot">
    <li class="breadcrumb-item"><a href="{{ url_for('index')}}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Весь чай</li>
  </ol>
</nav>
<div class="container default-margin-bot">
  <h1 class="text-center">Наиболее популярные сорта</h1>
</div>
<div class="container">
  <div class="row posts">
    {% for tea in teas: %}
    <div class="card col">
      <img class="card-img-top" src="{{ url_for('static', filename='img/' + tea.img) }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ tea.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ tea.grade }} / {{ tea.region }}</h6>
        <p class="card-text">{{ tea.preview }}</p>
        <a href="{{ url_for('post_app.single_post', tea_id=tea.id) }}" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
