{% extends 'base.html' %}
{% block title %}
{{ tea.name }}
{% endblock %}
{% block body %}
  <div class="container default-margin-bot">
    <div class="container text-center">
      <h1 class="no-margin">{{ tea.name }}</h1>
      <div class="subtitle">
        <span class="text-muted">{{ tea.grade }}</span>
        <span class="text-muted"> / </span>
        <span class="text-muted">{{ tea.region }}</span>
      </div>
    </div>
    <div class="row">
         <div class="col">
             <img src="{{ url_for('static', filename='img/') + tea.img }}" class="post-img"></img>
           <p class="lead post-text">
               {{ tea.text }}
           </p>
         </div>
    </div>
    {% for comment in comments: %}
      <div class="card mb-3">
          <h5 class="card-header">{{ comment.user }}</h5>
          <div class="card-body">
            <p class="card-text">{{ comment.text }}</p>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
