<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>Posts</title>
  </head>
  <body>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb default-margin-bot">
      <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
      <li class="breadcrumb-item"><a href="posts.html">Весь чай</a></li>
      <li class="breadcrumb-item active" aria-current="page">Да Хун Пао</li>
    </ol>
  </nav>
  <div class="container default-margin-bot">
    <div class="container text-center">
      <h1 class="no-margin">Да Хун Пао</h1>
      <div class="subtitle">
        <span class="text-muted">Темный улун</span>
        <span class="text-muted"> / </span>
        <span class="text-muted">Уишань</span>
      </div>
    </div>
    <div class="row">
     <div class="col-10">
       <p class="lead">
           Да Хун Пао (大红袍, Da Hong Pao, Большой Красный Халат, ДХП, Дахунпао) – это китайский чай,
           который производят на северо-западе провинции Фуцзянь, в горах Уи. По классу его относят к улунам сильной ферментации.
           Да Хун Пао – один из самых известных сортов китайского чая, наряду с такими, как Пуэр, Те Гуань Инь, Лун Цзин.
           Но по количеству легенд и мифов, Красный Халат, пожалуй, на первом месте.
           Как гласят исторические записи монастыря Тян Син Сы, в 1385 г. в династию Мин (в 18 год под девизом Хун У), студент Дин Сянь,
           направляясь на сдачу императорских экзаменов, получил тепловой удар, и один из монахов вышеназванного монастыря использовал чай, чтобы его вылечить.
           Успешно сдав экзамен и получив высокую должность Чжуан Юань (которой соответствовал большой красный халат с изображением драконов), желая отблагодарить
           Будду за чудесное излечение, Дин Сянь вернулся в монастырь, где преподнес Халат монаху, который его излечил. Но монах, как истинный буддист, не принял столь высокий дар.
           Тогда чиновник укрыл Халатом кусты чая. Так и появилось название Да Хун Пао: «Большой красный халат».
       </p>
     </div>
     <div class="col-2 background-image" style="background-image:url(img/dhp.jpg)"></div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>